*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 50px;
    height: 4%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.admin-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

